.player {
    min-width: 150px;
    margin: 5px;
    padding: 5px;
    flex-grow: 1;
    color: white;
}

.current-player {
    border-bottom: 2px solid blueviolet;
}

.turn-points {
    border-bottom: 1px dashed lightgray;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.turn {
    padding: 5px;
    margin: 5px;
    display:flex;
    flex-direction: column;
    text-align: end;
}

.highest-turn {
    color: green;
}

