.player {
    min-width: 150px;
    position: relative; // input to bottom
    outline: 2px solid blueviolet;
    margin: 5px;
    padding: 5px;
    flex-grow: 1;
    color: white;
}

.turn-points {
    border-bottom: 1px solid black;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.turn {
    padding: 5px;
    margin: 5px;
    display:flex;
    flex-direction: column;
    text-align: end;
}

