button {
    margin: 2px;
}

.controls {
    display: flex;
    margin: 5px 0;
    button {
        flex-grow: 1;
        padding: 6px;
    }
}

.turns {
    // max-width: 500px;
    height: 100%;
    outline: 2px solid white;
    padding: 2px;
    display: flex;
    flex-direction: row;
}


