button {
    border: 2px solid #b57800;
    border-radius: 5px;
    margin: 2px;
    background: #e69900;
    color: white;
}
button:disabled {
    border: 0;
    background: gray;
    color: lightgray;
}

.controls {
    display: flex;
    margin: 5px 0;
    button {
        flex-grow: 1;
        padding: 6px;
    }
}

.turns {
    // max-width: 500px;
    height: 100%;
    outline: 2px solid white;
    padding: 2px;
    display: flex;
    flex-direction: row;
}


