:host {
    margin: 0 10px;
    max-width: 350px;
    display: flex;
    flex-direction: column;
}
.scratch-pad {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    overflow-x: scroll;
    font-size: 28px;
    color: lightgray;
    div {
        display: inline-block;
    }
}
div {
    display: flex;
}

button {
    height: 65px;
    flex-grow: 1;
    margin: 2px 2px;
}
